################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AttendanceTrackingSystem/AttendanceTrackingSystem.csproj.user
/AttendanceTrackingSystem/AttendanceTrackingSystem.csproj

