
@{

    ViewData["ProfileActive"] = "";
    ViewData["HomeActive"] = "active";
    ViewData["StudentsActive"] = "";
    ViewData["InstructorsActive"] = "";
    ViewData["LogOutActive"] = "";
    ViewData["PermissionActive"] = "";
    ViewData["TracksActive"] = "";
    ViewData["EmployeesActive"] = "";
    ViewData["TracksSchedulesActive"] = "";
    ViewData["AllScheduleActive"] = "";
    ViewData["AddNewScheduleActive"] = "";
    ViewData["StudentPermissionActive"] = "";
    ViewData["AttendanceActive"] = "";
    ViewData["StudentPermissionActive"] = "";
    ViewData["TraceAddendanceActive"] = "";
    ViewData["StudentDegreeActive"] = "";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<h1>Index</h1>

<a asp-action="ViewStudentPermissions" asp-controller="Instructor">View Permissions</a>