 @model AttendanceSummaryViewModel




    <!-- Chart -->
    <div style="max-width: 800px; margin:50px auto;">
        <canvas id="attendanceChart"></canvas>
    </div>
 
        <script>
            var ctx = document.getElementById('attendanceChart').getContext('2d');
    var attendanceData = @Html.Raw(Json.Serialize(Model.AttendanceStudentData));


            var dates = attendanceData.map(a => a.Date);
            var lateCount = @Model.LateCount;
            var onTimeCount = attendanceData.length - lateCount;
            var absentCount = @Model.AbsentCount;
            var chartData = [lateCount, onTimeCount, absentCount];
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Late', 'On Time', 'Absent'],
                    datasets: [{
                        label: 'Attendance State',
                        data: chartData,
                        backgroundColor: [
                            'rgba(108, 93, 220, 0.2)',
                            'rgba(108, 93, 220, 0.2)',
                            'rgba(108, 93, 220, 0.2)'
                        ],
                        borderColor: [
                            'rgba(108, 93, 220, 1)',
                            'rgba(108, 93, 220, 1)',
                            'rgba(108, 93, 220, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        </script>
