
/* Variables */


.charts {
    display: flex;
    width: 95%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1333px) {
    .charts {
        flex-direction: column;
        gap: 40px;
    }

  
}

/* Home page form instruc command security */
.custome-title {
    text-align: center;
    width: fit-content;
    margin: 30px;
    color: var(--main-color);
    position: relative;
    font-size: 55px;
    margin-top: 70px;
    margin-bottom: 20px;
}

    .custome-title::before {
        position: absolute;
        content: '';
        width: 3px;
        height: 100%;
        top: 0px;
        background-color: var(--main-color);
    }

    .custome-title::before {
        left: -10px;
    }

.trackAttendance div {
    align-items: center;
    width: 90%;
    padding: 15px 20px;
    margin: 30px 20px;
    display: flex;
    gap: 15px;
}

    .trackAttendance div p {
        font-size: 18px;
        color: #000;
        padding: 2px 10px;
    }

        .trackAttendance div p:nth-child(1) {
            border: 1px solid var(--pink-color);
            border-radius: 12px;
            background-color: #e3668b70;
        }

        .trackAttendance div p:nth-child(2) {
            border: 1px solid var(--blue-color);
            border-radius: 12px;
            background-color: #abe4ff9e;
        }

        .trackAttendance div p:nth-child(3) {
            border: 1px solid orange;
            border-radius: 12px;
            background-color: #f2996070;
        }

#durationSelect {
    width: 200px;
    top: 230px;
    right: 90px;
    position: absolute;
    height: 45px;
    padding: 10px;
    text-align: justify;
    font-size: 19px;
    color: var(--main-text-color);
    box-shadow: 1px 1px 5px 0px #ddd;
    display: flex;
    align-self: end;
    align-items: end;
    border: navajowhite;
    outline: none;
}

#attendanceChart {
    margin: 150px auto;
    width: 90%;
}

@media (max-width: 772px) {
    .custome-title {
        font-size: 35px;
    }
}

@media (max-width: 1333px) {
    select#durationSelect {
        top: 340px;
    }
}

/* Student home page */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #6c757d47;
}

.trackAttendance div p:nth-child(4) {
    border: 1px solid green;
    border-radius: 12px;
    background-color: #64f26070;
}

.Schedule table,
.Permissions table {
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 18px;
  
}
    .Permissions table thead {
        background-color: var(--main-color);
        color: white;
    }
    .Permissions table tr{
        padding:10px 0px
    }
    .custome-btn {
        background-color: var(--main-color);
        color: white;
        border-radius: 15px;
        border: 1px solid white;
        padding: 15px 20px;
        font-weight: bold;
        transition: 1s;
        margin: 40px 20px;
        width: fit-content;
        text-decoration: none;
    }

    .custome-btn:hover {
        background-color: white;
        color: var(--main-color);
        border-color: var(--main-color);
    }

td p {
    border-radius: 12px;
    width: 150px;
    padding: 5px 15px;
    margin: auto;
}

    td p.Pending {
        border: 1px solid #8cb3dd;
        background-color: #9cd7faa8;
    }

    td p.Rejected {
        border: 1px solid #e581ac;
        background-color: #e3668b70;
    }

    td p.Approved {
        border: 1px solid #82bb82;
        background-color: #64f26070;
    }

.schedule-online {
    background-color: #93bfd7;
}

.schedule-offline {
    background-color: lightblue;
}

.schedule-holiday {
    background-color: #e5cf8d;
}

.schedule-funday {
    background-color: lightyellow;
}
