/* Variables */
:root {
    --main-color: #6c5ddc;
    --blue-color: #21D1FF;
    --pink-color: #E94D90;
    --main-text-color: #3B3B3B;
    --body-bg: #f4f4f4;
}


/* Selection */
::selection {
    background-color: var(--main-color);
    color: white;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

#Val ul {
    list-style-type: none;
    color: red;
    font-weight: bold;
}
/* Body */
body {
    font-family: 'ui-monospace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-bg);
    overflow-y: auto; /* Ensure body scrolls when content overflows */
}
  

/* Hover Effect */
.hvr-bounce-to-right:before {
    background: var(--body-bg);
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:active,
.hvr-bounce-to-right:focus {
    color: var(--main-color);
    border-radius: 15px;
}

    .hvr-bounce-to-right:hover:before,
    .hvr-bounce-to-right:focus:before,
    .hvr-bounce-to-right:before {
        border-radius: 15px;
    }

i {
    margin-right: 10px;
}

/* Links */
.nav-link,
#sidebarCollapse a {
    color: #fff;
    width: 90%;
    padding: 10px;
}

    #sidebarCollapse a:hover {
        color: var(--main-color);
        border-radius: 15px;
    }

    #sidebarCollapse a.active {
        background-color: var(--body-bg);
        color: var(--main-color);
        border-radius: 15px;
        padding: 10px;
    }

/* Page Container */
.page-container .dynamic-section {
    margin: 10px auto;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 15px;
}

/* Aside */
aside {
    background-color: var(--main-color);
    border-radius: 0px 0px 25px 25px;
}

/* Flex Column */
.flex-column {
    gap: 10px;
}

/* Profile Section */
.profile {
    padding: 5px 0px;
    margin: 15px 5px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

    .profile img {
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 3px;
        width: 60px;
    }

    .profile h2 {
        margin: 0;
        font-size: 24px;
        color: #fff;
    }

.searchImg {
    display: none;
}

nav {
    display: none;
}

    nav i {
        color: var(--main-color);
    }

/* Large Screen Media Query */
@media (min-width: 998px) {
    .navbar {
        display: none;
    }

    .page-container {
        display: flex;
        gap: 10px;
    }

        .page-container .dynamic-section {
            order: 1;
            margin-left: 300px;
            width: calc(100% - 320px);
            margin-top: 30px;
        }

        .page-container aside {
            order: 2;
            height: 100%;
            border-radius: 0px 25px 25px 0px;
            padding: 30px 15px;
            width: 300px;
            position: fixed;
            top: 0px;
            bottom: 0;
            z-index: 20;
        }

        .page-container .dynamic-section {
            margin-left: 310px;
        }

    .searchImg {
        display: block;
        position: fixed;
        bottom: 20px;
        left: 75px;
    }
}

@media (min-width: 575px) and (max-width: 991px) {
    .navbar--toggler {
        z-index: 55;
    }

    button:focus {
        outline: 1px dotted;
        outline: 5px auto var(--main-color);
    }
}

@media (max-width: 574px) {
    .navbar-toggler {
        display: block;
    }

    nav {
        display: flex;
    }

    aside#sidebarCollapse {
        position: absolute;
        z-index: 1000;
        width: 60%;
    }

    button:focus {
        outline: 1px dotted;
        outline: 5px auto var(--main-color);
    }

    .field-validation-error {
        color: red;
        font-weight: bold;
    }
}

@media (max-width: 997px) {
    .navbar {
        display: block;
        padding-left: 40px;
        z-index: 100;
    }

    .page-container aside {
        display: none;
        padding-top: 50px;
        width: 290px;
        position: absolute;
        margin-left: 10px;
        padding: 0px 20px;
        top: 70px;
        z-index:100
    }

    aside h1 {
        display: none;
    }

    .page-container .dynamic-section {
        margin-left: 15px;
    }

    .page-container .dynamic-section {
        width: 95%;
        margin: 20px auto;
    }

    button.navbar--toggler {
        border: none;
        font-size: 27px;
    }
}
/*====================================================================*/
/*====================================================================*/
    /* Title */
    .main-title {
        margin: 0 auto 60px;
        border-left: 5px solid var(--main-color);
        color: var(--main-color);
        padding: 10px 20px;
        font-size: 30px;
        width: fit-content;
        position: relative;
        z-index: 1;
        transition: .3s;
        display:inline-block;
        margin-left:5vw;
    }

        .main-title::before
        {
            content: "";
            width: 12px;
            height: 12px;
            background-color: var(--main-color);
            position: absolute;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }

        .main-title::before {
            left: -30px;
        }

       
    /*Star*/
    .star-shape {
        position: absolute;
        right: 80px;
        bottom: 100px;
        animation: bounce2 infinite ease-in-out 1s;
    }

    @keyframes bounce2 {
        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

/*====================================================================*/
/*====================================================================*/
