@model LoginViewModel
@{
	ViewData["Title"] = "Login";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AttendanceTrackingSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AttendanceTrackingSystem.styles.css" asp-append-version="true" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
	<style>
		#Val ul {
			list-style-type: none;
			color: red;
			font-weight: bold;
		}

	
	</style>
</head>
<body>
	<section  style="background: linear-gradient(120deg, rgba(108,93,208,1) 0%, rgba(185,172,244,1) 100%);">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card" style="margin:100px auto;border-radius: 1rem;padding:70px 15px;">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block m-auto">
								<img src="~/Images/loginPage.gif"
									 alt="login form" class="img-fluid p-2" style="border-radius: 1rem 0 0 1rem;" />
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">
									<form method="post">

										<div class="d-flex align-items-center mb-3 pb-1">
											<i class="fas fa-cubes fa-2x me-3" style="color: #7e62d4;"></i>
											<span class="h1 fw-bold mb-0">Attendance System</span>
										</div>

										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

										<div class="form-floating mb-4">
											<input id="Email1" asp-for="Email" type="email" class="form-control" placeholder="Email address">
											<label for="Email1">Email address</label>
											@* <span asp-validation-for="Email"></span> *@
										</div>

										<div class="form-floating mb-4 d-flex">
											<input id="Pass" asp-for="Password" type="password" class="form-control" placeholder="Password">
											<button type="button" style="background-color:#6c5ddc" class="text-white btn float-end" onclick="togglePasswordVisibility('Pass')"><i class="fa-solid fa-eye"></i></button>
											<label for="Pass">Password</label>
											@* <span asp-validation-for="Password"></span> *@
										</div>
										<div id="Val" asp-validation-summary="All"></div>
										@if (TempData["ErrorMessageApprove"] != null)
										{
											<div class="alert alert-danger">
												@TempData["ErrorMessageApprove"]
											</div>
										}
										<p class="text-secondary text-black " style="font-size:16px">Or New Student? <a class="link-primary" asp-action="signup" asp-controller="account">Sign Up</a></p>
										<div class="py-1 row">
											<button class="btn btn-lg col-6 mx-auto text-white" style="background-color:#6c5ddc" type="submit">Login</button>
										</div>
									</form>
									@* <div class="row">
										<a class="small col-12 text-center text-muted" href="#!">Forgot password?</a>
									</div> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function togglePasswordVisibility(inputId) {
			var input = document.getElementById(inputId);
			if (input.type === "password") {
				input.type = "text";
				document.querySelector('button[onclick="togglePasswordVisibility(\'' + inputId + '\')"]').innerHTML = '<i class="fas fa-eye-slash"></i>';
			} else {
				input.type = "password";
				document.querySelector('button[onclick="togglePasswordVisibility(\'' + inputId + '\')"]').innerHTML = '<i class="fas fa-eye"></i>';
			}
		}
	</script>
	<script>
		// Disable the browser's back functionality
		history.pushState(null, null, location.href);
		window.onpopstate = function () {
			history.go(1);
		};
	</script>

</body>
</html>
